<h1><%=h _('Editing CSO') %></h1>

<% form_for(@cso) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :cso => @cso, :f => f } %>

  <p>
    <%= f.submit h(_("Update")) %>
  </p>
<% end %>

<%= link_to h(_('Show')), @cso %> |
<%= link_to h(_('Back')), csos_path %>
