<h1><%=h _('Listing CSOs') %></h1>

<% if @csos.empty? %>
  <p><%=h _('No CSOs were found') %></p>
<% else %>
  <p><%=h n_('Found one CSO', 'Found %{num} CSOs', @csos.length) % { :num => @csos.length } %></p>

  <ul class="csos">
    <% for cso in @csos %>
      <li>
        <%= link_to cso.name, cso, :class => 'cso' %>
        <%= link_to _('[Details]'), cso %>
      </li>
    <% end %>
  </ul>
<% end %>

<% if admin? %>
  <p class="actions">
    <%= link_to _('New cso'), new_cso_path %>
  </p>
<% end %>
