<p>
  <b>Name:</b>
  <%=h @cso.name %>
</p>

<p>
  <b>Name sw:</b>
  <%=h @cso.name_sw %>
</p>

<p>
  <b>Abbreviation:</b>
  <%=h @cso.abbreviation %>
</p>

<p>
  <b>Abbreviation sw:</b>
  <%=h @cso.abbreviation_sw %>
</p>

<p>
  <b>Mailing address:</b>
  <%=h @cso.mailing_address %>
</p>

<p>
  <b>Physical address:</b>
  <%=h @cso.physical_address %>
</p>

<p>
  <b>Physical address sw:</b>
  <%=h @cso.physical_address_sw %>
</p>

<p>
  <b>Region:</b>
  <%=h @cso.region %>
</p>

<p>
  <b>District:</b>
  <%=h @cso.district %>
</p>

<p>
  <b>Town:</b>
  <%=h @cso.town %>
</p>

<p>
  <b>Telephone:</b>
  <%=h @cso.telephone %>
</p>

<p>
  <b>Mobile:</b>
  <%=h @cso.mobile %>
</p>

<p>
  <b>Fax:</b>
  <%=h @cso.fax %>
</p>

<p>
  <b>Email:</b>
  <%=h @cso.email %>
</p>

<p>
  <b>Website:</b>
  <%=h @cso.website %>
</p>

<p>
  <b>Head person:</b>
  <%=h @cso.head_person %>
</p>

<p>
  <b>Contact person:</b>
  <%=h @cso.contact_person %>
</p>

<p>
  <b>Contact person position:</b>
  <%=h @cso.contact_person_position %>
</p>

<p>
  <b>Contact person position sw:</b>
  <%=h @cso.contact_person_position_sw %>
</p>

<p>
  <b>Num staff male:</b>
  <%=h @cso.num_staff_male %>
</p>

<p>
  <b>Num staff female:</b>
  <%=h @cso.num_staff_female %>
</p>

<p>
  <b>Num volunteers male:</b>
  <%=h @cso.num_volunteers_male %>
</p>

<p>
  <b>Num volunteers female:</b>
  <%=h @cso.num_volunteers_female %>
</p>

<p>
  <b>Registration number:</b>
  <%=h @cso.registration_number %>
</p>

<p>
  <b>Registration year:</b>
  <%=h @cso.registration_year %>
</p>

<p>
  <b>Registration act:</b>
  <%=h @cso.registration_act_id %>
</p>

<p>
  <b>Membership type:</b>
  <%=h @cso.membership_type_id %>
</p>

<p>
  <b>Networks:</b>
  <%=h @cso.networks %>
</p>

<p>
  <b>Networks sw:</b>
  <%=h @cso.networks_sw %>
</p>

<p>
  <b>Annual budget:</b>
  <%=h @cso.annual_budget_id %>
</p>

<p>
  <b>Grant funders:</b>
  <%=h @cso.grant_funders %>
</p>

<p>
  <b>Grant funders sw:</b>
  <%=h @cso.grant_funders_sw %>
</p>

<p>
  <b>Operational area:</b>
  <%=h @cso.operational_area_id %>
</p>

<p>
  <b>Operational area details:</b>
  <%=h @cso.operational_area_details %>
</p>

<p>
  <b>Operational area details sw:</b>
  <%=h @cso.operational_area_details_sw %>
</p>

<p>
  <b>Urban focus:</b>
  <%=h @cso.urban_focus %>
</p>

<p>
  <b>Rural focus:</b>
  <%=h @cso.rural_focus %>
</p>

<p>
  <b>Mission statement:</b>
  <%=h @cso.mission_statement %>
</p>

<p>
  <b>Mission statement sw:</b>
  <%=h @cso.mission_statement_sw %>
</p>

<p>
  <b>Vision statement:</b>
  <%=h @cso.vision_statement %>
</p>

<p>
  <b>Vision statement sw:</b>
  <%=h @cso.vision_statement_sw %>
</p>

<p>
  <b>Main objectives:</b>
  <%=h @cso.main_objectives %>
</p>

<p>
  <b>Main objectives sw:</b>
  <%=h @cso.main_objectives_sw %>
</p>


<%= link_to 'Edit', edit_cso_path(@cso) %> |
<%= link_to 'Back', csos_path %>
