<h1>Editing membership_type</h1>

<% form_for([:admin, @membership_type]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :name_sw %><br />
    <%= f.text_field :name_sw %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @membership_type] %> |
<%= link_to 'Back', admin_membership_types_path %>
