<h1>Editing funding_source</h1>

<% form_for([:admin, @funding_source]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :name_sw %><br />
    <%= f.text_field :name_sw %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', [:admin, @funding_source] %> |
<%= link_to 'Back', admin_funding_sources_path %>
