<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title><%= controller.controller_name %>: <%= controller.action_name %></title>
  <%= javascript_include_tag :defaults %>
  <%= stylesheet_link_tag 'ngodb' %>
</head>
<body>

<% if flash.include? :notice %>
  <div class="flash notice">
    <%= flash[:notice] %>
  </div>
<% end %>
<% if flash.include? :error %>
  <div class="flash error">
    <%= flash[:error] %>
  </div>
<% end %>

<div class="body">
  <%= yield  %>
</div>

<div class="footer">
  <p class="login">
    <% if admin? %>
      <%= link_to _('CSOs'), csos_path %> |
      <%= link_to _('Annual Budgets'), admin_annual_budgets_path %> |
      <%= link_to _('Funding Sources'), admin_funding_sources_path %> |
      <%= link_to _('Membership Types'), admin_membership_types_path %> |
      <%= link_to _('Operational Areas'), admin_operational_areas_path %> |
      <%= link_to _('Registration Acts'), admin_registration_acts_path %> |
      <%= link_to _('Sector Focuses'), admin_sector_focuses_path %> |
      <%= link_to _('Target Groups'), admin_target_groups_path %> |
      <%= link_to _('Log out'), session_path(1), :method => :delete %>
    <% else %>
      <%= link_to _('Log in'), new_session_path %>
    <% end %>
  </p>
</div>

</body>
</html>
